  <% if current_user %>
    <p class='pull-right'>
      <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
    </p>
  <% end %>

  <div class='col-sm-12 book-form'>
    <p>
    <div class="col-sm-5">
      <%= render 'form' %>
    </div>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <br>
      <br>
      <ul class="list-unstyled book-list">
        <%= render @books %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% cache do %>
          <% Genre.all.each do |genre| %>
            <li>
              <%= link_to genre.name, books_path(filter: genre.name),
                class: 'label label-primary' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

