


<div class="row">
  <div class="col-sm-8">
    <br>
    <br>
    <div id="tabs">
      <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="#tabs-1" role="tab" data-toggle="tab">all Books</a></li>
        <li role="presentation"><a href="#tabs-2" role="tab" data-toggle="tab">Unread books</a></li>
        <li role="presentation"><a href="#tabs-3" role="tab" data-toggle="tab">Finished Books</a></li>
      </ul>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tabs-1">
          <%= render @books %>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabs-2">
          <p>
            <%= render partial: 'book', collection: @unred %>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabs-3">
          <p>
            <%= render partial: 'book', collection: @redead_books %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Genres</h2>
    <ul class="list-unstyled">
      <% cache do %>
        <% Genre.all.each do |genre| %>
          <li>
            <%= link_to genre.name, genre_path(genre),
              class: 'label label-primary' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>